{% extends 'layout.html' %}

{% block content %}
    <dvi class="container">
        <div class="clearfix"><a href="/admin/add/" class="btn btn-success" style="margin-bottom: 10px">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            新建管理员</a>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                管理员列表
            </div>

            <div class="panel-body">
                <div class="bs-example" data-example-id="bordered-table">
                    <table class="table ">
                        <thead>
                        <tr>
                            <th>id</th>
                            <th>用户名</th>
                            <th>密码</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for obj in queryset %}
                            <tr>
                                <th>{{ obj.id }}</th>
                                <td>{{ obj.username }}</td>
                                <td>*********</td>
                                <td>
                                    <button class="btn btn-primary btn-xs">
                                        <a href="/admin/{{ obj.id }}/edit"
                                           style="color: white;text-decoration: none">编辑</a>
                                    </button>
                                    <button class="btn btn-danger btn-xs">
                                        <a href="/admin/{{ obj.id }}/delete"
                                           style="color: white;text-decoration: none">删除</a>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <form method="get">
            <ul class="pagination">
                {{ page_string }}
            </ul>

            </div>
        </form>
    </dvi>
    </dvi>
{% endblock %}