{% extends 'layout.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
    <button class="btn btn-success btn-xs" style="margin-bottom: 10px">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <a href="/user/add/" style="color: white;text-decoration: none">新建用户</a>
    </button>
    <div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
        用户列表
    </div>
    <div class="panel-body">
    <div class="bs-example" data-example-id="simple-table">
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>密码</th>
            <th>年龄</th>
            <th>余额</th>
            <th>入职时间</th>
            <th>性别</th>
            <th>所属部门</th>
            <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in queryset %}
            <tr>
                <td>{{ obj.id }}</td>
                <td>{{ obj.name }}</td>
                <td>{{ obj.password }}</td>
                <td>{{ obj.age }}</td>
                <td>{{ obj.account }}</td>
                <td>{{ obj.create_time|date:"Y-m-d" }}</td>
                <td>{{ obj.get_gender_display }}</td>
                <td>{{ obj.department.industry_title }}</td>
                <td>
                    <button class="btn btn-primary btn-xs">
                        <a href="/user/{{ obj.id }}/edit" style="color: white;text-decoration: none">编辑</a>
                    </button>
                    <button class="btn btn-danger btn-xs">
                        <a href="/user/{{ obj.id }}/delete"
                           style="color: white;text-decoration: none">删除</a>
                    </button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </div>
    <ul class="pagination">
        {{ page_string }}
    </ul>
{% endblock %}
</body>
</html>